
.accordion{
    max-width: 1200px;
  margin: 0 auto;
    padding: 16px;
   border-bottom: 1px solid rgb(218, 217, 217);
  @media(min-width: 720px){
      padding: 16px 80px;
      
  }
}
.accordion_btn{
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: white;
    cursor: pointer;
    span{
        flex-basis: 80%;
        font-weight: 700;
        font-size: .875rem;
        @media(min-width: 720px){
            font-size: 15px;
            
        }
    }
    .chevron-up{
        width: 20px;
        transform: rotateX(180deg);
    }
    .chevron-down{
        width: 20px;
    }

    
}

.accordion_body-hide{
    padding-top: 0;
    height: 0;
    overflow: hidden;
   
}
.accordion_body-show{
    padding-top: 16px;
    height: 100%;
    font-size: 13px;
    @media(min-width: 720px){
        font-size: 15px;
        line-height: 1.5;
    }
}