.jumbotron{
  background-image: url("../../images/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding:  24px 16px;
  color: white;
  @media(min-width: 992px){
    padding: 40px 16px;
  }

}

.jumbotron_title{
  padding: 0 30px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  margin-top: 24px;
  @media(min-width: 992px){
    font-size: 2rem;
  }
}

.jumbotron_description{
  padding: 16px;
  font-size: .75rem;
  line-height: 1.5;
  @media(min-width: 992px){
    font-size: 1rem;
    margin-bottom: 20px;
  }
}

.jumbotron_button{
  padding: 12px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  font-size: .875rem;
  font-weight: 700;
  letter-spacing: .5px;
  cursor: pointer;
  transition: 0.2s;
}

.jumbotron_button:hover{
  background-color: rgba(245,246,247,.1);
}