.card_liputan-list{
    color: black;
}
.Card_list-liputan{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card_liputan-text{
    flex-basis: 60%;
    width: fit-content;
    div:nth-child(1){
        font-size: .875rem;
        font-weight: 700;
    }
    div:nth-child(2){
        font-size: .75rem;
    }
}
.card_liputan-photo{
    
    width: 96px;
}