.card_deposito-container{
  h5{
    color: #009b9d;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
  }

  p{
    font-size: .875rem;
    margin-bottom: 16px;
  }
}

.card_flex-container{
  border-bottom: 1px solid rgb(209, 208, 208);
  margin-bottom: 16px;
}

.card_deposito-flex{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  svg{
    margin-right: 15px;
  }
  p{
    margin: 0;
    span{
      color: #009b9d;
      font-size:1.125rem;
      font-weight: 700;
      margin: 0 8px;
    }
  }
}

.card_deposito-footer{
  ul{
    padding: 0 16px;
    li{
      font-size: .875rem;
    }
  }
}