.card_text-1{
    font-size: 1rem;
    font-weight: 400;
}
.card_input-currency{
    background-color: #f7f8f9;
    border:  1px solid #e2e4e5 ;
    border-radius: 4px;
    display: flex;
    align-items: center;
    .label{
        font-size: 16px;
        padding: 0 1rem;
        color: black;
    }  
}

#input-currency{
    border:  1px solid #e2e4e5 ;
    border-radius: 4px;  
    padding: 0.43rem 1rem;
    font-size: 16px;
    width: 100%;
}
#input-currency:focus{
    outline-color: rgba(11, 128, 206, 0.5);
}

.card_text-2{
    font-size: .625rem;
    color: #7f7f7f;
    margin-bottom: 16px;
}
.error_validation{
    font-size: 12px;
    color: red;
}

.card_text-3{
    font-size: .875rem;
    margin-bottom: 16px;
}

#ant-group-solid{
    margin-bottom: 16px ;
}


.ant-radio-button-wrapper{
    text-align: center;
    margin: 0 16px 10px 0 !important;
    border-radius: 50px !important;
    border: 1px solid #009b9d !important;
    color: #009b9d !important;
    width: 135px ;
    font-weight: 700;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(
    .ant-radio-button-wrapper-disabled){
        background-color: #009b9d !important;
        color: white !important;
    }

.ant-radio-button-wrapper::before{
    width: 0 !important;
}

.card_text-4{
    font-size: 1rem;
    font-weight: bolder;
}

.card_text-5{
    font-size: .625rem;
}

.card_text-saldo{
    font-size: 1.5rem;
    font-weight: 700;
}

.btn_Card-deposito{
  padding: 12px;
  border: 1px solid #81BE41;
  border-radius: 4px;
  background-color: #81BE41;
  color: white;
  font-size: .875rem;
  font-weight: 700;
  width: 100%;
  cursor: pointer;
}

.btn_Card-deposito:disabled{
    opacity: .5;
    cursor: not-allowed;
}