.card_produk-container{
    margin-bottom: 40px;
    
}

.card_produk-container-flex{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 0 auto;
    margin-bottom: 10px;
    
}

.card_produk{
    border: 1px solid #e1e3e6;
    background-color: white;
    border-radius: 8px;
    text-align: center; 
}

.card_produk-header{
    padding: 8px;
    background-color: #0b7fba;
    color: white;
    font-size: .875rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card_produk-body{
    
    img{
        padding: 13px;
        width: 135px;
    }

    .main-text{
        font-size: .875rem;
        font-weight: 700;
        color: #009b9d;
    }
    div{
        font-size: .75rem;
        padding: 13px;
    }
    .blue{
        background-color: #eaf8ff;
    }
   
}
.index_text-container{
    line-height: 1;
}
i{
    font-size: .5rem;
    margin: 0;
    
}