.card_list{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.card_list-number{
    width: 20%;
    clip-path: circle();
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border: 1px solid #cdedfb;
    background-color: #cdedfb;
    color: #0b7fba;
    font-size: 14px;
    font-weight: 700;
}

.card_list-text{
    width: 80%;
    font-size: .875rem;
    
}