.logo_Wrapper{
    background-color: white;
    padding: 1rem;
    margin-bottom: 30px;
    @media(min-width: 992px){
        padding: 2rem;
        margin-bottom: 15px;
    }
}

.logoBankWrapper_title{
    font-size: .875rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px;
    @media(min-width: 992px){
        margin-bottom: 20px;
        font-size: 1rem;
    }
}

.logoBankWrapper_logo-wrapper{
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 16px;
    img{
        padding: 4px;
        width: 50px;
    }
    @media(min-width: 992px){
        gap: 30px;
    }
}