.cardInfo{
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #e1e3e6;
    border-left:5px solid #81be41;
    margin-bottom: 15px;
}

.cardInfo-icon{
    width: 30px;
    margin-right: 20px;
}

.cardInfo-text{
    font-size: 1rem;
    font-weight: 500;
}