.Card_list{
    display: flex;
    align-items: center;
    gap: 40px;
   
    .card_list-image{
        width: 45px;
    }
}

.card_list-text{
   div:nth-child(1){
       font-size: .875rem;
       font-weight: 700;
   }
   div:nth-child(2){
       font-size: .75rem;
   }
}