.formDaftar{
    max-width: 992px;
    margin: 0 auto;
} 

 .ant-form-item-required{
     font-size: 1rem !important;
 }
 
.note{
    font-size: .75rem;
    color: #292a2b;
}

.btn-wrapper{
    padding: 0 16px;
    display: flex;
}

.btn-submit{
    padding: 14px 15px;
    border: 1px solid #81BE41;
    border-radius: 4px;
    background-color: #81BE41;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    @media(min-width: 992px){
        width: 40%;
        margin: 0 auto;
    }
}

