.landing_page-static{
  background-color: white;
  padding-bottom: 16px;
  margin-bottom: 36px;
}

.landing_page-logo{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  border-bottom: 1px solid rgb(212, 209, 209);
  margin-bottom: 16px;
  
  &{
    img:nth-child(3){
      width: 60px;
    }
  }

  @media(min-width: 992px){
    gap: 50px;
  }
}




.landing_page-dana-container{
  text-align: center;
}

.dana-text{
  font-size: 14px;
  line-height: 1.5;
  @media(min-width: 992px){
    font-size: 17px;
  }
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

.arrow-up{
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #81be41;
  margin-right: 10px;
}

.dana-jumlah{
  font-size: 1.25rem;
  @media(min-width: 992px){
    font-size: 1.5rem;
  }
  span{
    font-size: 1.5rem;
    @media(min-width: 992px){
      font-size: 1.8rem;
    }
  }
}

.dana-update{
  font-size: .625rem;
  line-height: 1.5;
  margin-bottom: 30px;
  @media(min-width: 992px){
    font-size: .800rem;
    margin-bottom: 20px;
  }
}


.slide-bottom {
   display: flex;
   margin: 0 auto;
    width: 30px;
	  animation: scale-display 1.8s ease-in-out infinite ;
    animation-delay: -.5s;
    -webkit-animation-delay: -.5s;
}

.slide-bottom1 {
  margin-top: -5px;
  animation: scale-display 1.8s ease-in-out infinite ;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

@keyframes scale-display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.landing_page-card-container{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  @media(min-width: 992px){
    flex-direction: row;
  }
}

.card-container{
  @media(min-width: 992px){
    margin-right: 15px;
    width: calc(33% - 20px);
  }
}

.landing_page-subtitle{
  padding: 0 0 16px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}


.landing_page-accordion-container{
  background-color: white;
  margin-bottom: 48px;
  padding: 30px;
  .wrapper{
    width: fit-content;
    margin: auto;
  }
  h6{
   
    color: #009b9d;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    @media(min-width: 720px){
     
      font-size: 21px;
     
    }
  }
}

.ant-back-top{
 #back-top{
  height: 40;
  width: 40;
  line-height: '40px';
  border-radius: 4;
  background-color: '#1088e9';
  color: '#fff';
  text-align: 'center';
  font-size: 14;
 }
}