.button-green{
    padding: 6px 16px;
    margin-left: 16px;
    border: 1px solid #81BE41;
    border-radius: 4px;
    background-color: #81BE41;
    color: white;
    font-size: .75rem;
    font-weight: 700;
    cursor: pointer;
}

.button-white{
    padding: 6px 16px;
    margin-left: 16px;
    border: 1px solid #81BE41;
    border-radius: 4px;
    background-color: white;
    color: #81BE41;
    font-size: .75rem;
    font-weight: 700;
    cursor: pointer;
}