.header{
  box-shadow: 10px 10px 20px 0 rgb(0 0 0 / 8%);
  background-color: white;
  position: fixed;
  width: 100%;
  height: 68px;
  display:flex;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 99;
 
}
.header_container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 58px;
  
}

.header_logo{
  width: 117px;
}

.btn-close{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
