.footer{
    background-color: #074c70;
    
}

.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 16px;
    
}

.footer-title{
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.footer-list-container{
    margin-bottom: 16px;
}
.footer-list{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    img{
        margin-right: 16px;
    }
    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        color: white;
    }
}

.footer-address{
    color: white;
    margin-bottom: 36px;
}

.footer-flex-container{
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 24px;
    .footer-flex{
        margin-right: 32px;
    }
}

.footer-flex-image{
    margin-top: 16px;
    margin-bottom: 24px;
    padding-bottom: 7px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    img{
        margin-right: 12px;
    }
}

.footer-copyright{
    text-align: center;
    color: white;
}