.verifikasiAkun{
    padding: 16px;
    max-width: 1200px;
    margin: 0 auto;
}

.dataForm_title{
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0 20px 0;
    text-align: center;
}

.dataForm_text{
    text-align: center;
    margin-bottom: 10px;
}
.otp_number-card-wrapper{
    display: flex ;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}

.otp_number-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 1px solid #eeeded;
    border-radius: 4px;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 1px 0px 3px 1px #eeeded ;
}

.dataForm_box{
    margin: 0 auto;
    padding: 16px;
    border: 1px solid #eeeded;
    border-radius: 4px;
    background-color: white;
    box-shadow: 2px 0px 3px 1px #eeeded ;
    div{
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    @media(min-width: 992px){
        width: 80%;
        padding: 20px 80px;
    }
    
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
}